<html>
    <head>
        <link rel="stylesheet" href="./css/about.css">
        <title>About Me</title>
    </head>
    <div id="wrapper">
    <body>
        <header>
            <h1>About Me</h1>
        </header>
        <div id="profile"></div>
        <main>
            <h2>Ellijah S. Abrazado</h2>
            <p>Hello, My name is Ellijah Abrazado. I am originally from the Philippines.I am a student at Centennial College under Software Engineering Technician program.
            I studied Information Technology in the Philippines before, but unable to finish becasue my family and I were migrating to Canada. Some of my favorite hobbies are playing basketball, listening to 90's music and playing computer games.
            </p>
        </main>
        <footer>
        <br>
        <a href="../resume/My-Resume.pdf">Link to my resume</a>
</body>
</div>
</footer>
</html>