<html>
    <head>
        <title>Personal Portfolio</title>
    </head>
    <div id="wrapper"> 
    <body>
        <header>
            <h1>Personal Portfolio</h1>
        </header>
        <main>
            <h2>Kamusta! Bonjour! Hello!</h2>
            <p>Hi there! I am very excited to welcome you onboard to my personal portfolio. Your presence is well
                appreciated, and I am delighted you are here. Please feel at home. 
            </p>
            <h2>Mission Statement</h2>
                <p>"To be an instrument of change at home, the workplace, and the community as a whole. I will use my God-given talents to raise a loving family, stay productive at work, and help grow a responsive community".</p>

        </main>
        <footer>
        <br>
        <link rel="stylesheet" href="./css/about.css">
        <a href="../resume/My-Resume.pdf">Ellijah Abrazado</a>
</body>
</div>
</footer>
</html>