<html>
    <head>
        <title>Projects Page</title>
    </head>
    <div id="wrapper">
    <body>
        <header>
            <h1>Projects</h1>
        </header>
        <main>
            <div id="trailhero"></div>
            <h3>Performance Monitoring Tool</h3>
            <p>Performance Monitoring is a set of processes and tools to be able to determine how well fast applications are running in the cloud. Due to the nature of cloud applications being highly distributed, special software is required to be able to trace where traffic is going between networks and applications to truly understand how well an application is performing.<br>
            Role: Design</p>
            <br>
            <div id="trailhero1"></div>
            <h3>Sudo Idea</h3>
            <p>Allows a permitted user to execute a command as the superuser or another user, as specified by the security policy. The invoking user's real (not effective) user ID is used to determine the user name with which to query the security policy.<br>
                Role: Implementation</p>
            <div id="trailhero2"><img src="/public/image/photo1.png" alt=""></div>
            <h3>Pacific Trail Resort</h3>
            <p>Pacific Trails Resort offers a special lodging experience on the California North Coast. Relax in serenity with panaromic views of the Pacific Ocean.

                Private yurts with decks overlooking the ocean
                ,Activities lodge with fireplace and gift shop
                ,Nightly fine dining at the Overlook Cafe
                ,Heated outdoor pool and whirlpool
                , Guided hiking tours of the redwood<br>
                Role: Website Reservation</p>
                <link rel="stylesheet" href="../css/about.css">
        </main>
        <footer>
        <br>
</body>
</div>
</footer>
</html>
