<html>
    <head>
        <link rel="stylesheet" href="./css/about.css">
        <title>Projects Page</title>
    </head>
    <div id="wrapper">
    <body>
        <header>
            <h1>Services</h1>
        </header>
        <main>
            <h2>Services Offered: </h2>
            <div id="services"></div>
            <h3 id="h3">Web Development</h3>
            <div id="services1"></div>
            <h3 id="h3">Database Development</h3>
            <div id="services2"></div>
            <h3 id="h3">Android App Development</h3>
        </main>
        <footer>
        <br>
</body>
</div>
</footer>
</html>
  